@import "./var";
html {
  background-color: @body-background-color;
}

.main {
  min-width: 1000px;
  width: 1000px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

/* header */
.header {
  height: 100px;
  background-color: #9a0a0d;
  overflow: hidden;
  color: #fff;
}

.header .left {
  float: left;
  position: relative;
  line-height: 100px;
}

.header .logo {
  float: left;
  height: 62px;
  width: 62px;
  background: url("../images/logo.png") 0 0 no-repeat;
  margin-top: 19px;
}

.header .name {
  float: left;
  margin: 0 12px 0 18px;
  font-weight: bold;
  font-size: 26px;
}

.header .sub-name {
  float: left;
  font-weight: bold;
  font-size: 22px;
}

.header .right {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -23px;
  font-weight: bold;
}

.header .tel-name {
  font-size: 18px;
  line-height: 18px;
}

.header .tel {
  font-size: 28px;
  line-height: 28px;
}

/* 导航 */
.nav {
  background-color: #e4e4e4;
}

.nav .nav-list {
  position: relative;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
  overflow: visible;
}

.nav .item {
  float: left;
  width: 125px;
  font-size: 18px;
  text-align: center;
}

.nav .item a {
  color: #1e1e1e;
  width: 100%;
  height: 100%;
  display: block;
}

.nav .item:hover,
.nav .cur {
  background-color: @title-color;
}

.nav .item:hover a,
.nav .cur a {
  color: #fff;
  font-weight: bold;
}

.nav .nav-item-red:hover .item-red {
  display: block;
}

.nav .item-red {
  background-color: #9a0a0d;
  position: absolute;
  width: 125px;
  z-index: 999;
  display: none;
}

.nav .item-red .item-red-item {
  height: 50px;
  line-height: 50px;
  background-color: #9a0a0d;
  color: #fff;
  border-top: 1px solid #ba3632;
}

.nav .item-red .item-red-item:hover,
.nav .item-red .item-red-item.cur {
  color: #e59794;
}

/* 广告 */
.ad {
  height: 400px;
  position: relative;
  overflow: hidden;
}

.ad .ad-bg {
  position: absolute;
  height: 400px;
  top: 0;
  left: 50%;
  margin-left: -960px;
}

/* 分页 */
.page-nav {
  color: #bc352d;
  margin-bottom: 70px;
}

.page-nav .page-wrap {
  text-align: center;
}

.page-nav .page-list {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.page-nav .page-item {
  float: left;
  width: 36px;
  height: 38px;
  margin: 0 5px;
}

.page-nav .page-item-bt {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 38px;
  background-color: #edeeef;
  text-align: center;
  color: #b60610;
  font-weight: bold;
}

.page-nav .page-item-bt:hover,
.page-nav .cur .page-item-bt {
  background-color: #b60610;
  color: #fff;
}

/* footer */
.footer {
  border-top: 5px solid #b80000;
  background-color: #eeeeee;
  padding-bottom: 10px;
  height: 240px;
}

.footer .footer-wrap {
  height: 180px;
}

.footer .foot-menu {
  padding: 20px 0;
  font-size: 14px;
  color: #999;
  width: 25%;
  float: left;
}

.footer h4 {
  color: #b80000;
  font-size: 14px;
}

.footer .foot-menu a {
  font-size: 14px;
  color: #999999;
  display: block;
}

.footer .foot-contact {
  padding: 20px 0;
  font-size: 14px;
  color: #999;
  float: left;
  width: 270px;
}

.foot-qrcodebox {
  padding: 20px 0;
  font-size: 14px;
  color: #999;
  float: right;
  width: 40%;
  overflow: hidden;
}

.foot-qrcodebox>div {
  float: right;
  padding: 10px;
  text-align: center;
}

.footer .copyright {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #999;
}