@import "./var";
html {
  background-color: @body-background-color;
}

.main {
  min-width: 1000px;
  width: 1000px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

/* header */
.header {
  height: 100px;
  background-color: #9a0a0d;
  overflow: hidden;
  color: #fff;
}

.header .left {
  float: left;
  position: relative;
  line-height: 100px;
}

.header .logo {
  float: left;
  height: 62px;
  width: 62px;
  background: url("../images/logo.png") 0 0 no-repeat;
  margin-top: 19px;
}

.header .name {
  float: left;
  margin: 0 12px 0 18px;
  font-weight: bold;
  font-size: 26px;
}

.header .sub-name {
  float: left;
  font-weight: bold;
  font-size: 22px;
}

.header .right {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -23px;
  font-weight: bold;
}

.header .tel-name {
  font-size: 18px;
  line-height: 18px;
}

.header .tel {
  font-size: 28px;
  line-height: 28px;
}

/* 导航 */
.nav {
  background-color: #e4e4e4;
}

.nav .nav-list {
  position: relative;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
}

.nav .item {
  float: left;
  width: 125px;
  font-size: 18px;
  text-align: center;
}

.nav .item a {
  color: #1e1e1e;
}

.nav .item:hover,
.nav .cur {
  background-color: @title-color;
}

.nav .item:hover a,
.nav .cur a {
  color: #fff;
  font-weight: bold;
}